<h1>Update Item</h1>
<textarea class="p-name" placeholder="{{product_name}}"></textarea>
<textarea class="p-cond" placeholder="{{condition}}"></textarea>
<button data-id="{{id}}" type="submit" class="btn btn-primary update-prod">Publish</button>

<script src="/js/updateprod.js"></script>