<h1>Update Item</h1>
<form class="updateComments" data-id="{{product.product_id}}">
<textarea class="p-name" placeholder="{{product.product_name}}"></textarea>
<textarea class="p-cond" placeholder="{{product.condition}}"></textarea>
<button data-id="{{product.product_id}}" type="submit" class="btn btn-primary update-prod" id="updateprod-btn">Publish</button>
</form>
<script src="/js/updateprod.js"></script>